
:root { 
  --black: #0f0a0a; 
  --primary: #42e2b8; 
  --gradient: linear-gradient(45deg, #fad7a1 0%, #e96d71 100%); 
  --headline1: 700 5.9375rem/9.6068754196167rem Oxygen; 
  --headline2: 700 3.6875rem/5.96637487411499rem Oxygen; 
  --headline3: 700 3rem/4.854000091552734rem Oxygen; 
  --headline4: 700 2.125rem/3.4382500648498535rem Oxygen; 
  --headline5: 700 1.5rem/2.427000045776367rem Oxygen; 
  --body1: 400 1rem/1.6180000305175781rem Oxygen; 
  --body2: 400 0.875rem/1.4157500267028809rem Oxygen; 
  --button: 700 0.875rem/1.4157500267028809rem Oxygen; 
  --caption: 400 0.75rem/1.2135000228881836rem Oxygen; 
}

body {
  color: var(--white);
  font: var(--body1);
  background:var(--gradient);  
}

h1{
  font: var(--headline1);
  font-size: large;
  margin-left: 50px;
}

h2{
  font: var(--headline2);
}

h3{
  font: var(--headline3);
}

h4{
  font: var(--headline4);
}

h5{
  font: var(--headline5);
}
.Nosotros {
  padding-right: 400px;
}

.servicio {
  background: blue;
}
.titulo {
  margin-top: 15px;
  font: var(--headline1);
  font-size: 40px;

}
.jesus {
  margin-top: -70px;
  margin-left: 50px;
  font: var(--headline2);
  font-size: 50px;
}
.resumen {
  margin-left: 50px;
  font: var(--headline3);
  font-size: 12px;
}
.curri {
  border-radius: 20px;
  font-size: 15px;
  background: var(--primary);
}
.imagen {
  margin-left: 125%;
  margin-top: -250px;
}
.hablemos {
  margin-top: -10px;
}
.fa-phone-square {
  margin-left: 80px;
}

.hecho {
  margin-top: 200px;
}
.logo {
  margin-top: 200px;
}
.descripcion {
  text-align: center;
  margin-top: 100px;
  width: 1200px;
  font-size: 25px
}
.flecha {
  text-align: center;
  margin-top: 15px;
  width: 1200px;
  font-size: 15px;
  font-weight: bold;
}
.fa-arrow-down {
  margin-left: 570px;
}
.font {
  font-size: 60px;
}
.correo {
  background: black;
  color: var(--primary);
  box-shadow: -5px 5px white;
  font-size: 40px;
  margin-top: 200px;

}
.cuadrado {
  background: white;
  width: 30px;
  height: 30px;
  font-size: 20px;
  margin-left: 100px;
}
.proyecto {
  border-radius: 20px;
  font-size: 25px;
  background: var(--primary);
  position: relative;
  left: 10px;
}
.proyecto2 {
  border-radius: 20px;
  position: relative;
  left: 50px;
  font-size: 25px ;
  background: var(--headline1);
}
.imagen2 {
  margin-top: 100px;
  margin-left: 600px;
  position: relative;
  top: -400px;
}
.gato {
  border-radius: 80px;
  
}
.icono {
  position: relative;
  left: 300px;
  top: -200px;
  background: #fad7a1;
  box-shadow: -5px -5px white;
  padding-right: 20px;
  padding-top: 40px;
  padding-left: 20px;
  text-align: center;
}
.leonidas {
  font-size: 15px;
  padding-bottom: 40px;

}
.elisa {
  font-size: 20px;
  font-weight: bolder;
}
.marvel {
  position: relative;
  left: 50px;
}
.marvol {

  margin-top: 100px;
  position: relative;
  left: 800px;
  top: -500px;
  font-size: 40px;
}
.mar {
  background: black;
  color: var(--primary);
  box-shadow: -5px 5px white;
}
.cine {
  position: relative;
  left: 800px;
  top: -500px;
}
.icono2 {
  position: relative;
  left: 300px;
  top: -200px;
  background: #fad7a1;
  box-shadow: -5px -5px white;
  padding-right: 20px;
  padding-top: 40px;
  padding-left: 20px;
  text-align: center;
}
.imagen3 {
  margin-top: 50px;
  margin-left: 600px;
  position: relative;
  top: -400px;
}
.correo2 {
  background: black;
  color: var(--primary);
  box-shadow: -5px 5px white;
  font-size: 40px;
  margin-top: 100px;
}
.celu2 {
  margin-left: 200px;
}
.icono3 {
  position: relative;
  left: 300px;
  top: -300px;
  background: #fad7a1;
  box-shadow: -5px -5px white;
  padding-right: 200px;
  padding-top: 40px;
  padding-left: 200px;
  text-align: center;
}
.for {
  background: black;
  color: var(--primary);
  box-shadow: -5px 5px white;
  font-size: 50px;
  padding-right: 150px;
  padding-left: 150px;
}
.formulario {
  text-align: center;
}
.hable {
  text-align: center;
}
.botonulti {
  padding-right: 100px;
  padding-left: 100px;
  border-radius: 20px;
  background: var(--primary);
}
.f1 {
  position: relative;
  left: 500px;
  top: -50px;
  font-size: 30px;
}.f2 {
  position: relative;
  left: 630px;
  top: -110px;
  font-size: 30px;
}.f3 {
  position: relative;
  left: 680px;
  top: -170px;
  font-size: 30px;
}.f4 {
  position: relative;
  left: 720px;
  top: -230px;
  font-size: 30px;
}